<div class="container-fluid">
  <h1 class="text-center mx-auto " >Products</h1>
  <table class="table table-hover">
    <thead>
      <tr class="p-3 mb-2 bg-info text-white">
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col" >Price</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product|  %>
        <tr>
          <td>
            <% if user_signed_in? and product.user.eql?(current_user) %>
              <%= link_to "Archive", product, data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-outline-danger" %>
            <% end %>
            <%= link_to product.name, product %>
          </td>
          <td><%= product.description %></td>
          <td><%= product.price%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>